body {
    height: 100vh;
    background-color: #100f10;
}

.form {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
    position: relative;
    box-sizing: border-box;
}

.container-icones {
    width: 30%;
    height: 100%;
    border: solid 2px #242424;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #242424;
    border-radius: 8px;
}

.titulo {
    text-align: center;
    margin: 40px 0 20px 0;
    font-size: 1.7rem;
    font-weight: 600;
    color: #8739f9;
}

.texto {
    text-align: center;
    margin: 20px 10px;
    font-size: 1.4rem;
    line-height: 1.2rem;
    color: #8739f9;
}

.lista-estrelas {
    display: flex;
    gap: 50px;
}

.estrela {
    list-style-type: none;

    cursor: pointer;
    color: #ffffff;
}

.estrela::before {
    content: "\2605";
}

.estrela.ativo ~ .estrela::before {
    content: "\2606";
}

.lista-estrelas:hover .estrela::before {
    content: "\2605";
}

.estrela:hover ~ .estrela::before {
    content: "\2606";
}

.botao {
    width: 100%;
    margin-top: 50px;
    border: none;
    font-size: 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    color: #8a72ad;
    background-color: #1b1b1b;
    padding: 10px;
}

.botao:hover {
    color: #8739f9;
}
